USE [QLChiTieuCaNhan]
GO
/****** Object:  Table [dbo].[Chi_Tieu]    Script Date: 09/09/2025 2:42:03 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chi_Tieu](
	[chitieu_id] [int] IDENTITY(1,1) NOT NULL,
	[nguoidung_id] [int] NULL,
	[danhmuc_id] [int] NULL,
	[so_tien] [decimal](18, 2) NOT NULL,
	[ngay_chi] [date] NOT NULL,
	[ghi_chu] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[chitieu_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Danh_Muc]    Script Date: 09/09/2025 2:42:03 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Danh_Muc](
	[danhmuc_id] [int] IDENTITY(1,1) NOT NULL,
	[ten_danh_muc] [nvarchar](100) NOT NULL,
	[loai] [nvarchar](20) NULL,
	[nhom] [nvarchar](20) NULL,
	[ghi_chu] [nvarchar](200) NULL,
	[nguoidung_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[danhmuc_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Muc_Tieu]    Script Date: 09/09/2025 2:42:03 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Muc_Tieu](
	[muctieu_id] [int] IDENTITY(1,1) NOT NULL,
	[nguoidung_id] [int] NULL,
	[ten_muc_tieu] [nvarchar](100) NOT NULL,
	[so_tien_can] [decimal](18, 2) NOT NULL,
	[so_tien_da_tiet_kiem] [decimal](18, 2) NULL,
	[han] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[muctieu_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ngan_Sach]    Script Date: 09/09/2025 2:42:03 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ngan_Sach](
	[ngansach_id] [int] IDENTITY(1,1) NOT NULL,
	[nguoidung_id] [int] NULL,
	[danhmuc_id] [int] NULL,
	[han_muc] [decimal](18, 2) NOT NULL,
	[thang] [int] NOT NULL,
	[nam] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ngansach_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nguoi_Dung]    Script Date: 09/09/2025 2:42:03 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nguoi_Dung](
	[nguoidung_id] [int] IDENTITY(1,1) NOT NULL,
	[ten_dang_nhap] [nvarchar](50) NOT NULL,
	[mat_khau] [nvarchar](255) NOT NULL,
	[ho_ten] [nvarchar](100) NULL,
	[email] [nvarchar](100) NULL,
	[so_dien_thoai] [nvarchar](20) NULL,
	[dia_chi] [nvarchar](200) NULL,
	[anh_dai_dien] [nvarchar](255) NULL,
	[lan_dang_nhap_that_bai] [int] NULL,
	[khoa_den] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[nguoidung_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nhac_Nho]    Script Date: 09/09/2025 2:42:03 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nhac_Nho](
	[nhacnho_id] [int] IDENTITY(1,1) NOT NULL,
	[nguoidung_id] [int] NULL,
	[noi_dung] [nvarchar](200) NULL,
	[thoi_gian] [datetime] NOT NULL,
	[loai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[nhacnho_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Thu_Nhap]    Script Date: 09/09/2025 2:42:03 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Thu_Nhap](
	[thunhap_id] [int] IDENTITY(1,1) NOT NULL,
	[nguoidung_id] [int] NULL,
	[danhmuc_id] [int] NULL,
	[so_tien] [decimal](18, 2) NOT NULL,
	[ngay_nhap] [date] NOT NULL,
	[ghi_chu] [nvarchar](200) NULL,
	[thang_thu_nhap] [int] NULL,
	[nam_thu_nhap] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[thunhap_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Chi_Tieu] ON 

INSERT [dbo].[Chi_Tieu] ([chitieu_id], [nguoidung_id], [danhmuc_id], [so_tien], [ngay_chi], [ghi_chu]) VALUES (1, 1, 3, CAST(500000.00 AS Decimal(18, 2)), CAST(N'2025-09-03' AS Date), N'Ăn uống cuối tuần')
INSERT [dbo].[Chi_Tieu] ([chitieu_id], [nguoidung_id], [danhmuc_id], [so_tien], [ngay_chi], [ghi_chu]) VALUES (2, 1, 4, CAST(200000.00 AS Decimal(18, 2)), CAST(N'2025-09-04' AS Date), N'Đổ xăng')
INSERT [dbo].[Chi_Tieu] ([chitieu_id], [nguoidung_id], [danhmuc_id], [so_tien], [ngay_chi], [ghi_chu]) VALUES (3, 2, 5, CAST(1500000.00 AS Decimal(18, 2)), CAST(N'2025-09-02' AS Date), N'Mua quần áo')
SET IDENTITY_INSERT [dbo].[Chi_Tieu] OFF
GO
SET IDENTITY_INSERT [dbo].[Danh_Muc] ON 

INSERT [dbo].[Danh_Muc] ([danhmuc_id], [ten_danh_muc], [loai], [nhom], [ghi_chu], [nguoidung_id]) VALUES (1, N'Lương', N'ThuNhap', N'CoDinh', N'Thu nhập cố định hàng tháng', 2)
INSERT [dbo].[Danh_Muc] ([danhmuc_id], [ten_danh_muc], [loai], [nhom], [ghi_chu], [nguoidung_id]) VALUES (2, N'Thưởng', N'ThuNhap', N'BienDoi', N'Thu nhập từ thưởng', 3)
INSERT [dbo].[Danh_Muc] ([danhmuc_id], [ten_danh_muc], [loai], [nhom], [ghi_chu], [nguoidung_id]) VALUES (3, N'Ăn uống', N'ChiTieu', N'CoDinh', N'Chi phí ăn uống hàng ngày', 2)
SET IDENTITY_INSERT [dbo].[Danh_Muc] OFF
GO
SET IDENTITY_INSERT [dbo].[Muc_Tieu] ON 

INSERT [dbo].[Muc_Tieu] ([muctieu_id], [nguoidung_id], [ten_muc_tieu], [so_tien_can], [so_tien_da_tiet_kiem], [han]) VALUES (1, 1, N'Mua xe máy', CAST(30000000.00 AS Decimal(18, 2)), CAST(5000000.00 AS Decimal(18, 2)), CAST(N'2025-12-31T00:00:00.000' AS DateTime))
INSERT [dbo].[Muc_Tieu] ([muctieu_id], [nguoidung_id], [ten_muc_tieu], [so_tien_can], [so_tien_da_tiet_kiem], [han]) VALUES (3, 2, N'Xây nhà', CAST(3000000000.00 AS Decimal(18, 2)), CAST(212000000.00 AS Decimal(18, 2)), CAST(N'2030-06-05T00:00:00.000' AS DateTime))
INSERT [dbo].[Muc_Tieu] ([muctieu_id], [nguoidung_id], [ten_muc_tieu], [so_tien_can], [so_tien_da_tiet_kiem], [han]) VALUES (4, 2, N'Đi bar', CAST(10000000.00 AS Decimal(18, 2)), CAST(200000.00 AS Decimal(18, 2)), CAST(N'2025-10-07T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Muc_Tieu] OFF
GO
SET IDENTITY_INSERT [dbo].[Ngan_Sach] ON 

INSERT [dbo].[Ngan_Sach] ([ngansach_id], [nguoidung_id], [danhmuc_id], [han_muc], [thang], [nam]) VALUES (1, 1, 3, CAST(3000000.00 AS Decimal(18, 2)), 9, 2025)
INSERT [dbo].[Ngan_Sach] ([ngansach_id], [nguoidung_id], [danhmuc_id], [han_muc], [thang], [nam]) VALUES (2, 1, 4, CAST(1000000.00 AS Decimal(18, 2)), 9, 2025)
INSERT [dbo].[Ngan_Sach] ([ngansach_id], [nguoidung_id], [danhmuc_id], [han_muc], [thang], [nam]) VALUES (3, 2, 5, CAST(2000000.00 AS Decimal(18, 2)), 9, 2025)
SET IDENTITY_INSERT [dbo].[Ngan_Sach] OFF
GO
SET IDENTITY_INSERT [dbo].[Nguoi_Dung] ON 

INSERT [dbo].[Nguoi_Dung] ([nguoidung_id], [ten_dang_nhap], [mat_khau], [ho_ten], [email], [so_dien_thoai], [dia_chi], [anh_dai_dien], [lan_dang_nhap_that_bai], [khoa_den]) VALUES (1, N'admin', N'123456', N'Nguyễn Văn A', N'admin@gmail.com', N'0912345678', N'Hà Nội', NULL, 0, NULL)
INSERT [dbo].[Nguoi_Dung] ([nguoidung_id], [ten_dang_nhap], [mat_khau], [ho_ten], [email], [so_dien_thoai], [dia_chi], [anh_dai_dien], [lan_dang_nhap_that_bai], [khoa_den]) VALUES (2, N'tranhien', N'123456', N'Trần Thị Hiền', N'hien@gmail.com', N'0987654321', N'Hồ Chí Minh', NULL, 0, NULL)
INSERT [dbo].[Nguoi_Dung] ([nguoidung_id], [ten_dang_nhap], [mat_khau], [ho_ten], [email], [so_dien_thoai], [dia_chi], [anh_dai_dien], [lan_dang_nhap_that_bai], [khoa_den]) VALUES (3, N'alokio', N'1234567', N'alokio', N'longkovipb52@gmail.com', N'0367547809', N'Thành phố Hồ Chí Minh', NULL, 0, NULL)
SET IDENTITY_INSERT [dbo].[Nguoi_Dung] OFF
GO
SET IDENTITY_INSERT [dbo].[Nhac_Nho] ON 

INSERT [dbo].[Nhac_Nho] ([nhacnho_id], [nguoidung_id], [noi_dung], [thoi_gian], [loai]) VALUES (1, 1, N'Nhớ ghi chép chi tiêu hằng ngày', CAST(N'2025-09-05T08:00:00.000' AS DateTime), N'ChiTieu')
INSERT [dbo].[Nhac_Nho] ([nhacnho_id], [nguoidung_id], [noi_dung], [thoi_gian], [loai]) VALUES (2, 2, N'Kiểm tra ngân sách ăn uống tháng 9', CAST(N'2025-09-10T09:00:00.000' AS DateTime), N'NganSach')
INSERT [dbo].[Nhac_Nho] ([nhacnho_id], [nguoidung_id], [noi_dung], [thoi_gian], [loai]) VALUES (3, 2, N'Bạn đã vượt ngân sách  trong tháng 9/2025. Đã chi: 2.000.000 VND, hạn mức: 1.500.000 VND.', CAST(N'2025-09-06T17:28:39.150' AS DateTime), N'VuotNganSach')
SET IDENTITY_INSERT [dbo].[Nhac_Nho] OFF
GO
SET IDENTITY_INSERT [dbo].[Thu_Nhap] ON 

INSERT [dbo].[Thu_Nhap] ([thunhap_id], [nguoidung_id], [danhmuc_id], [so_tien], [ngay_nhap], [ghi_chu], [thang_thu_nhap], [nam_thu_nhap]) VALUES (1, 1, 1, CAST(15000000.00 AS Decimal(18, 2)), CAST(N'2025-09-01' AS Date), N'Lương tháng 9', NULL, NULL)
INSERT [dbo].[Thu_Nhap] ([thunhap_id], [nguoidung_id], [danhmuc_id], [so_tien], [ngay_nhap], [ghi_chu], [thang_thu_nhap], [nam_thu_nhap]) VALUES (2, 1, 2, CAST(2000000.00 AS Decimal(18, 2)), CAST(N'2025-09-02' AS Date), N'Thưởng dự án', NULL, NULL)
INSERT [dbo].[Thu_Nhap] ([thunhap_id], [nguoidung_id], [danhmuc_id], [so_tien], [ngay_nhap], [ghi_chu], [thang_thu_nhap], [nam_thu_nhap]) VALUES (3, 2, 1, CAST(12000000.00 AS Decimal(18, 2)), CAST(N'2025-09-01' AS Date), N'Lương tháng 9', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Thu_Nhap] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Nguoi_Du__363698B329AEC982]    Script Date: 09/09/2025 2:42:03 SA ******/
ALTER TABLE [dbo].[Nguoi_Dung] ADD UNIQUE NONCLUSTERED 
(
	[ten_dang_nhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Muc_Tieu] ADD  DEFAULT ((0)) FOR [so_tien_da_tiet_kiem]
GO
ALTER TABLE [dbo].[Nguoi_Dung] ADD  DEFAULT ((0)) FOR [lan_dang_nhap_that_bai]
GO
ALTER TABLE [dbo].[Chi_Tieu]  WITH CHECK ADD FOREIGN KEY([danhmuc_id])
REFERENCES [dbo].[Danh_Muc] ([danhmuc_id])
GO
ALTER TABLE [dbo].[Chi_Tieu]  WITH CHECK ADD FOREIGN KEY([nguoidung_id])
REFERENCES [dbo].[Nguoi_Dung] ([nguoidung_id])
GO
ALTER TABLE [dbo].[Danh_Muc]  WITH CHECK ADD  CONSTRAINT [FK_Danh_Muc_Nguoi_Dung] FOREIGN KEY([nguoidung_id])
REFERENCES [dbo].[Nguoi_Dung] ([nguoidung_id])
GO
ALTER TABLE [dbo].[Danh_Muc] CHECK CONSTRAINT [FK_Danh_Muc_Nguoi_Dung]
GO
ALTER TABLE [dbo].[Muc_Tieu]  WITH CHECK ADD FOREIGN KEY([nguoidung_id])
REFERENCES [dbo].[Nguoi_Dung] ([nguoidung_id])
GO
ALTER TABLE [dbo].[Ngan_Sach]  WITH CHECK ADD FOREIGN KEY([danhmuc_id])
REFERENCES [dbo].[Danh_Muc] ([danhmuc_id])
GO
ALTER TABLE [dbo].[Ngan_Sach]  WITH CHECK ADD FOREIGN KEY([nguoidung_id])
REFERENCES [dbo].[Nguoi_Dung] ([nguoidung_id])
GO
ALTER TABLE [dbo].[Nhac_Nho]  WITH CHECK ADD FOREIGN KEY([nguoidung_id])
REFERENCES [dbo].[Nguoi_Dung] ([nguoidung_id])
GO
ALTER TABLE [dbo].[Thu_Nhap]  WITH CHECK ADD FOREIGN KEY([danhmuc_id])
REFERENCES [dbo].[Danh_Muc] ([danhmuc_id])
GO
ALTER TABLE [dbo].[Thu_Nhap]  WITH CHECK ADD FOREIGN KEY([nguoidung_id])
REFERENCES [dbo].[Nguoi_Dung] ([nguoidung_id])
GO
ALTER TABLE [dbo].[Danh_Muc]  WITH CHECK ADD CHECK  (([loai]=N'ChiTieu' OR [loai]=N'ThuNhap'))
GO
